@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Mukta:wght@500&family=Nunito&family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
}

body{
    height: 120vh;
}

.nav{
    position: sticky;
    top: 0;
    height: 10vh;
    background-color: #292524;
    width: 100%;
    color: #a3a3a3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn{
    border: none;
    background-color: #0284c7;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    font-size: 24px;
}

.btn:hover{
    cursor: pointer;
    background-color: #0ea5e9;
    transform: translatey(2px);
}

.books{
    display: block;
    width: 100%;
    height: 120vh;
}

.add-menu{
    height: 130vh;
    width: 100%;
    background-color: black;
    opacity: 30%;
    position: absolute;
    display: none;
    z-index: 100;
    justify-content: center;

}

.form{
    height: 600px;
    width: 400px;
    z-index: 100;
    position: sticky;
    top: 100px;
    background-color: #e7e5e4;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

/*Form Insides*/
input{
    color: black;
    height: 30px;
    width: 300px;
    font-size: 20px;
}

label{
    font-size: 20px;
    display: block;
}

.submit{
    font-size: 20px;
    border: none;
    background-color: #dc2626;
    border-radius: 10px;
    height: 30px;
    width: 300px;
}

.submit:hover{
    cursor: pointer;
    background-color: #ef4444;
    transform: translatey(2px);
}


.read{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#read{
    width: 20%;
}


.close-btn{
    background-color: transparent;
    border: none;
    margin-top: -20px;
    margin-left: 100%;
    position: relative;
}

.close-btn:hover{
    transform: translatey(2px);
    opacity:50%;
}